/* Основные стили */

/* towtruck_project\static\css\style.css */

body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #f8f9fa;
}

h2 {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.suggestions-container {
    position: absolute;
    background-color: white;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
    top: 100%;
    left: 0;
}

.suggestions-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.suggestions-container li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-container li:hover {
    background-color: #f0f0f0;
}

.clear-button {
    cursor: pointer;
}
